<web-app>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>interview.competentum.controller.SessionListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>